<div class="flex-container">
  <div class="flex-column"> 
    <div class="flex-row left transaction">
      Transaction details
    </div>
    <div class="flex-row">
      <div class="flex-columnleft">
        Customer Name 
      </div>
      <div class="flex-column right"> 
          
              <input value="AL Zajel Commercial Brokerage LLC.">
      </div>
    </div>
    <div class="flex-row">
        <div class="flex-column left">
          Account Number
        </div>
        <div class="flex-column right"> 
            
                <input value="11ABCDRF" >
          </div>
      </div>
<div class="flex-row">
    <div class="flex-column left">
        Nature Of Business
      </div>
      <div class="flex-column right"> 
          
              <input value="Entity">
      </div>

</div>

<div class="flex-row">
    <div class="flex-column left">
        Business Relationship
      </div>
      <div class="flex-column right"> 
          
              <input  >
      </div>

</div>

<div class="flex-row left">
  Summary Of behavior
</div>

<div class="flex-row left">
    
        <textarea   matTextareaAutosize matAutosizeMinRows="2"
                  matAutosizeMaxRows="5"></textarea>
      
      
  </div>

  <div class="flex-row left">
Reason for disclosure</div>

<div class="flex-row left">
    
        <textarea   matTextareaAutosize matAutosizeMinRows="2"
                  matAutosizeMaxRows="5"></textarea>
      
      
  </div>

  <div class="flex-row right">
      <button  color="primary" (click)="called()">Submit to NCA</button>
  </div>

      </div>

      
  </div>
