






<div class="title">
DRACATHON ANALYSER
        
</div>
    <mat-tab-group>
            <mat-tab label="TRANSACTION DETAILS">

                    <div class="flex-container">
                            <div class="flex-column"> 
                                    <div class="flex-row">
                                            <app-dashboard-vapp-pie>
                                    
                                                </app-dashboard-vapp-pie>
                                    </div>
                                    <div class="flex-row">
                                            <material-table>
                        
                                                </material-table>
                                    </div>
                            </div>
                                
                           
                        </div>
            </mat-tab>
            <mat-tab label="SEND THE REPORT TO FCA"> <app-transaction-details></app-transaction-details></mat-tab>
            <mat-tab label="CUSTOMER DETAILS"> <app-person-details></app-person-details></mat-tab>

          </mat-tab-group>
          