<div class="flex-container">
  <div class="flex-column"> 
    <div class="flex-row left transaction">
      Customer details
    </div>
    <div class="flex-row">
      <div class="left">
        Customer Name   :
      </div>
      <div class="right"> 
          
              AL Zajel Commercial Brokerage LLC.
      </div>
    </div>
    <div class="flex-row">
        <div class="left">
          Entity Type   :
        </div>
        <div class="right"> 
            Entity
          </div>
      </div>
<div class="flex-row">
    <div class="left">
        Country   :
      </div>
      <div class="right"> 
          China
      </div>

</div>

<div class="flex-row">
    <div class="left">
      Turnover    :
    </div>
      <div class="right"> 
          
        17129
      </div>

</div>

<div class="flex-row">
  <div class="left">
    Bank    :
  </div>
  
  <div class="left">
      
    Asia Star Bank
        
        
    </div>
</div>

<div class="flex-row">
  <div class="left">
    Date Of Incorporation   :
  </div>
  
  <div class="left">
      
    25/01/1960
        
        
    </div>
</div>

<div class="flex-row">
  <div class="left">
    Nature of business    :
  </div>
  
  <div class="left">
      
    Producer
        
        
    </div>
</div>


<div class="flex-row">
  <div class="left">
    Company relationship    :
  </div>
  

</div>

<div class="flex-row left">
      
  <img src="../../../assets/screenShot.png" alt="companyRelationship">
      
      
  </div>
  



      </div>

      
  </div>
