.flex-container {
    display: flex;
    padding-top: 0.75em;
    font-family: "Vidaloka";
    width: 100%;
    flex: 0 0 auto;

}

.flex-column {
    display: flex;
    flex-direction:column;
    font-family: "Vidaloka";
    width: 100%;
    flex: 0 0 auto;
    justify-content: center;
    font-size: 33px;


}

.flex-row {
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    font-family: "Vidaloka";
    justify-content: space-around;

}

img {
    height: 100px;
    width: 100px;
}
